@font-face {
  font-family: 'iconfont';  /* Project id 3063733 */
  src: url('https://at.alicdn.com/t/font_3063733_s1g69yd1o7f.woff2?t=1640844289400') format('woff2'),
       url('https://at.alicdn.com/t/font_3063733_s1g69yd1o7f.woff?t=1640844289400') format('woff'),
       url('https://at.alicdn.com/t/font_3063733_s1g69yd1o7f.ttf?t=1640844289400') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jian:before {
  content: "\e607";
}

.icon-jia:before {
  content: "\e608";
}

.icon-cuowu:before {
  content: "\e606";
}

.icon-zhengque:before {
  content: "\e60a";
}

.icon-dibiao:before {
  content: "\e8e6";
}

.icon-guanyuwomen:before {
  content: "\e69a";
}

.icon-bangzhuzhongxin:before {
  content: "\e605";
}

.icon-zhanghaoanquan:before {
  content: "\e6a4";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-daishouhuo:before {
  content: "\e603";
}

.icon-tuikuantuihuo:before {
  content: "\e604";
}

.icon-shouye2:before {
  content: "\e626";
}

.icon-daifukuan:before {
  content: "\e63f";
}

.icon-aixin:before {
  content: "\f4cf";
}

.icon-shezhi:before {
  content: "\e602";
}

.icon-shangpin:before {
  content: "\e888";
}

.icon-touxiang:before {
  content: "\e620";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-gouwucheman:before {
  content: "\e601";
}

.icon-fenleiorguangchangorqitatianchong:before {
  content: "\e67d";
}

.icon-fabu:before {
  content: "\e62f";
}

.icon-fenlei:before {
  content: "\e630";
}

.icon-fabu1:before {
  content: "\e6c4";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-shouye1:before {
  content: "\e8c6";
}

.icon-wodexianxing:before {
  content: "\e652";
}

.icon-wodebeifen:before {
  content: "\e62c";
}

