<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.barter_authority.mapper.BarterRoleInfoMapper">

    <resultMap type="com.example.barter_authority.domain.entity.BarterRoleInfo" id="BarterRoleInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="available" column="available" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BarterRoleInfoMap">
        select
          id, name, available, code
        from barter_role_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BarterRoleInfoMap">
        select
          id, name, available, code
        from barter_role_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="available != null and available != ''">
                and available = #{available}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from barter_role_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="available != null and available != ''">
                and available = #{available}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
        </where>
    </select>
    <select id="queryAll" resultType="com.example.barter_authority.domain.entity.BarterRoleInfo">
        select
            id, name, available, code
        from barter_role_info
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into barter_role_info(name, available, code)
        values (#{name}, #{available}, #{code})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into barter_role_info(name, available, code)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.available}, #{entity.code})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into barter_role_info(name, available, code)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.available}, #{entity.code})
        </foreach>
        on duplicate key update
        name = values(name),
        available = values(available),
        code = values(code)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update barter_role_info
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="available != null and available != ''">
                available = #{available},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from barter_role_info where id = #{id}
    </delete>

</mapper>

